div.Questions__Page--title {	height: 50px; box-shadow: 0 1px 4px #000000; }


.HomePage {grid-template-columns: 25% 1fr; transition: all 1s; }

.HomePage__Product {	box-shadow: inset 0 1px 6px rgba(0,0,0,0.33) }

.HomePage__product_info {	text-align: left; }

.Select__category {
    max-width: 40%;
    margin: 10px auto; 
}

.Select__category--title {
    margin-top: 40px;
    font-size: 22px;
}

.link__questions {
    border: .5px solid rgb(243, 231, 231);
    border-radius: 5px;
    padding: 3px 4px;
    margin: 30px;
    float: right;
    text-decoration: none;
    background-color: #3eb0f7;
    color: white;
}

.Questions__Page--title {
    
    /* color: white;
    background-color: #3eb0f7;
    padding: 5px;
    margin: 5px; */
    display: flex;
    justify-content: flex-start;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background: #041E42 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #041E42;
    /* background-image: url('../../assets/FirstQuestion.png'); */
    opacity: 1;
    
}

.Questions__Page--title > .Questions__Page--walmart {
    width: 12%;
    height: 50px;
    margin-left: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    background-image: url('../../assets/Walmart_Logos_Lockup_horiz_wht_rgb.png');
    opacity: 1;
}

.Questions__Page--title > .Product__name {
    margin-top: 13px;
    width: 10%;
    height: 50px;
    font: Bold 19px/20px Roboto;
    letter-spacing: 0;
    color: #FBFBFB;
    text-align: left;
}

.HomePage__Product {
    margin: 0px auto 5px;
    width: 100%;
    height: 70px;
    background-color: #0065FF;
    display: flex;
    justify-content: space-between;
} 

.HomePage__Product > .HomePage__product_info {
    height: 70px;
    width: 30%;
    margin: 1px 80px;
}

.HomePage__Product > .HomePage__product_info > .Product__info {
    font-size: 10px;
    display: block;
    color: white;
}

.HomePage__Product > .HomePage__product_info > .Product__info:nth-child(1) {
    font-size: 20px;
    display: inline-block;
    color: white;
}

.HomePage__Product > .HomePage__Product_save_progress {
    cursor: pointer;
    height: 20px;
    width: 90px;
    font-size: 12px;
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 10px 10px;
}

div.HomePage__left {
background-color: #FFFFFF; }
div.HomePage__left * {
	transition: all 1s;
}

.rc-steps.rc-steps-vertical {
	background-color: #fff;
	
}

.rc-steps-item.rc-steps-item-process.Page__title--content.rc-steps-item-active
.rc-steps-item.rc-steps-item-wait.Page__title--content.false.finish {
	background-color: /* #0065FF */ #FFFFFF;
	
}

.rc-steps-item.rc-steps-item-wait.Page__title--content.currentPage.finish,
.rc-steps-item.rc-steps-item-process.Page__title--content.currentPage.finish.rc-steps-item-active {
	background-color: #0065FF;
	z-index: 5;
	
}

.rc-steps-item.rc-steps-item-process.Page__title--content.currentPage,
.rc-steps-item.rc-steps-item-wait.Page__title--content.currentPage.finish,
.rc-steps-item.Page__title--content.false {
	padding: 4px 0 1px 4px;
	border-radius: 20px;
	text-align: left;
	z-index: 5;
	
}

.rc-steps-item.rc-steps-item-process.Page__title--content,
.rc-steps-item.rc-steps-item-wait.Page__title--content.false.finish {
	background-color: #FFFFFF;
}

	.rc-steps-vertical .rc-steps-item .rc-steps-item-title {
		font-size: 0.75rem;
	}
		/*-- Active Step Circle Icon --*/
		.rc-steps-item-process.currentPage .rc-steps-item-icon,
		.rc-steps-item.rc-steps-item-process.Page__title--content.currentPage.finish.rc-steps-item-active .rc-steps-item-icon		{
			background-color: #FFFFFF;
			border: none;	
		}
		/*-- Not Completed Step Circle Icon --*/
		.rc-steps-item.false.false .rc-steps-item-icon {
			background-color: #FFFFFF;
			border: 4px solid #ADADAD;	
		}
		
		.rc-steps-item.rc-steps-item-process.Page__title--content.rc-steps-item-active .rc-steps-item-icon,
		.rc-steps-item.rc-steps-item-process.Page__title--content.false.finish.rc-steps-item-active .rc-steps-item-icon,
		.rc-steps-item.rc-steps-item-wait.Page__title--content.false.finish .rc-steps-item-icon		{
			background-color: #0065FF;
			border: none;
			z-index: 100;
		}
	.rc-steps-vertical .rc-steps-item-process .rc-steps-item-title,
	.rc-steps-item.rc-steps-item-wait.Page__title--content.false.finish .rc-steps-item-title,
	.rc-steps-item.rc-steps-item-process.Page__title--content.rc-steps-item-active .rc-steps-item-title {
		color: #000000;	
	}
	.rc-steps-item.rc-steps-item-wait.Page__title--content.currentPage.finish .rc-steps-item-title {
		color: #FFFFFF;	
	}
	
	
.Page__title--content.finish {
	
}
.Page__title--content.currentPage {
    color: #FFFFFF;
    padding: 1px;
    background-color: #3eb0f7;
}

.rc-steps-item.rc-steps-item-process.Page__title--content.currentPage.finish.rc-steps-item-active .rc-steps-item-title {
	color: #FFFFFF;
}

.rc-steps-vertical .rc-steps-item-tail {
	top: -5px;
	width: 7px;
	
}

.rc-steps-item.rc-steps-item-process.Page__title--content  .rc-steps-item-tail,
.rc-steps-item.rc-steps-item-process.Page__title--content  .rc-steps-item-tail:after,
.rc-steps-item.rc-steps-item-wait.Page__title--content.false.finish .rc-steps-item-tail,
.rc-steps-item.rc-steps-item-wait.Page__title--content.false.finish .rc-steps-item-tail:after,
.rc-steps-item.rc-steps-item-wait.Page__title--content.currentPage.finish .rc-steps-item-tail,
.rc-steps-item.rc-steps-item-wait.Page__title--content.currentPage.finish .rc-steps-item-tail:after,
.rc-steps-item.rc-steps-item-process.Page__title--content.currentPage.finish.rc-steps-item-active .rc-steps-item-tail,
.rc-steps-item.rc-steps-item-process.Page__title--content.currentPage.finish.rc-steps-item-active .rc-steps-item-tail:after {
	background-color: #0065FF; border: 1px solid #0065FF; Z-index: -5; 
}

.rc-steps-item.rc-steps-item-process.Page__title--content  .rc-steps-item-tail:after,
.rc-steps-item.rc-steps-item-wait.Page__title--content.false.finish .rc-steps-item-tail:after,
.rc-steps-item.rc-steps-item-wait.Page__title--content.currentPage.finish .rc-steps-item-tail:after,
.rc-steps-item.rc-steps-item-process.Page__title--content.currentPage.finish.rc-steps-item-active .rc-steps-item-tail:after
	{	 }
.rc-steps-item.rc-steps-item-process.Page__title--content  .rc-steps-item-tail,
.rc-steps-item.rc-steps-item-wait.Page__title--content.false.finish .rc-steps-item-tail,
.rc-steps-item.rc-steps-item-wait.Page__title--content.currentPage.finish .rc-steps-item-tail,
.rc-steps-item.rc-steps-item-process.Page__title--content.currentPage.finish.rc-steps-item-active .rc-steps-item-tail
	{	 }
.rc-steps-vertical .rc-steps-item.rc-steps-item-wait.Page__title--content.false.false .rc-steps-item-tail:after
	{	width: 7px; margin-left: -1px; margin-top: 2px; background-color: #ADADAD; }

/*-- Questions --*/

div.Page__Container {
	margin: 0px;
	background-color: #EDEDED;
	padding-left: 4px;
}

div.Question__container {
	padding: 32px;
	margin-left: 24px;
	background-color: #FFFFFF;
	border-radius: 0px; border: none;
}


/*-- Paging --*/

.HomePage__pagination {	padding-top: 16px; height: 42px; background-color: rgba(250,250,250,0.8); }

.PageNumber__box {
	margin: 4px 0 0; padding: 16px 16px 12px; min-width: 36px; height: 36px;
	border-radius: 0px; border-width: 4px; border-color: #FFFFFF;
	background-color: #FFFFFF;
	font-size: 1rem; color: #ADADAD;
}
.PageNumber__box:hover {	background-color: #FFFFFF; font-weight: bold; }

.PageNumber__box.highlight,
.PageNumber__box.highlight:active {	
	background-color: #FFFFFF; 
	border-bottom-width: 4px; border-bottom-color: Magenta; border-radius: 0 0 6px 6px;
	font-weight: bold; color: #000000;
}
.PageNumber__box.disableUserEvents {	color: #DADADA; }
.PageNumber__box.disableUserEvents:hover {	font-weight: normal; }


























